/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/nbproject/
/web/app_dev.php
/web/config.php
/composer.lock

# Symfony
/web/bundles/*
/web/css/
/web/js/
/web/img/*
/web/images/*
/web/css/*
/web/js/*
/web/upload/*

# Autre
.idea/
/puphpet/
.vagrant
Vagrantfile