<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a href="{{ path('admin_task_index') }}">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-font"></i>
            <span>Taches</span>
        </a>
        <ul class="sub">
            <li>
                <a href="{{ path('admin_task_index') }}">Gerer les taches</a>
            </li>
        </ul>
        <ul class="sub">
            <li>
                <a href="{{ path('user_task_index') }}">Voir mes taches</a>
            </li>
        </ul>
        <ul class="sub">
            <li>
                <a href="{{ path('admin_week_show') }}">Semaine en cours</a>
            </li>
        </ul>
    </li>
</ul>